@model List<Data.CategoryProduct.CategoryProduct>
@{
    ViewBag.Title = "SanPham";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .img-admin {
        width: 120px;
        border: 1px solid #eee;
    }

        .img-admin img {
            max-width: 100%;
        }
</style>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Danh Mục Sản Phẩm</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
</div>
<div class="card shadow mb-4">

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>

                        <th>Danh mục sản phẩm</th>

                        <th> Sản phẩm</th>

                        <th>Ngày</th>
                        <th>Hoạt động</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>

                        <th>Danh mục sản phẩm</th>

                        <th> Sản phẩm</th>

                        <th>Ngày</th>
                        <th>Hoạt động</th>
                    </tr>
                </tfoot>
                <tbody>
                    @if (Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    <span style="display:block">Mã danh mục:  @item.Id</span>
                                    <span style="display:block">Tên danh mục: <a href="/danh-muc/@item.Url" target="_blank"> @item.Name</a></span>

                                    <span style="display:block">Trạng thái: <input type="checkbox" @(item.Active ? "checked" : "") data-toggle="toggle" data-size="sm" onchange="alert('có')"></span>

                                    <span style="display:block"> Cấp: @item.Level</span>
                                </td>
                                <td></td>

                                <td>
                                    <span style="display:block">Người tạo: @item.CreateBy</span>
                                    <span style="display:block">Người sửa: @(string.IsNullOrEmpty(item.UpdateBy) ? "Đang cập nhật" : item.UpdateBy)</span>
                                    <span style="display:block">Ngày tạo: @item.CreateDate.ToString("dd/MM/yyyy")</span>
                                </td>
                                <td style="text-align:center; vertical-align:middle">
                                    <a href="javascript: Edit(@item.Id)" class="btn btn-primary btn-circle btn-sm">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="javascript: Delete(@item.Id)" class="btn btn-danger btn-circle btn-sm">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });

        function Delete(Id) {
            if (confirm('Bạn chắc chắn muốn xóa danh mục  này chứ ?')) {
                $.ajax({
                    type: "POST",
                    url: "/Admin/DanhMucSanPham/Delete",
                    data: { 'Id': Id },
                    dataType: "json",
                    success: function (msg) {
                        if (msg.success) {
                            alert(msg.messenger);
                            window.location.href = "/Admin/DanhMucSanPham/SanPham";
                        }
                        else {
                            alert(msg.messenger)
                        }
                    }
                });
            }
        }
    </script>
}
